<?xml version="1.0" encoding="utf-8" standalone="yes"?>
<settings>
    <category label="31000">
        <setting label="31100" type="ipaddress" id="tvIpAddress" default="" />
        <setting label="31200" type="text" id="tvMacAddress" default="" />
        <setting label="31300" type="number" id="tvPin" default="" />
    </category>
</settings>